
    body
    { }

    h1
    {margin-top: 200px; 
     padding-bottom:20px;
    color: #9325B2;

}

    p
    { }

    ol
    { }
    
img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}


.button { 
    background-color: #00823b; /* Green */
    border: none;
    color: white;
    padding: 10px 150px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;}
