* {
    box-sizing: border-box;
}
.header {
    padding: 0px;
}
.menu {
    width: 25%;
    float: left;
    padding: 15px;
   
}
.main {
    width: 75%;
    height: 100%;
    float: left;
    padding: 15px;
   
} 


body {
    background-color: #f8f8f8; 
      
  }
  
  
    h1  {
    margin-top: 25px; 
    font-size: 50px;
    color: #9325B2;
    font-family:new transport;
    }
    
    h2  {
    margin-top: 25px; 
    color: #000000;
    font-family:new transport;
    }

    img {
    position: absolute;
    left: 55px;
    top: 25px;
    z-index: -1;
    }
    
     .demo  {
    font-family:new transport;
    padding-top:20px;   
    }

    .button {
    margin: 10px;
    font-family:new transport;
    background-color: #00823b;
    padding: 12px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 235px;
}
